@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.body{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

.buttons_menu{
    position: absolute;
    display: none;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#button_menu-close{
    display: none;
    z-index: 1;
    /* margin-left: 136px; */
}

.nav{
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    box-shadow: #0000002e 1px 0px 20px;
    position: fixed;
    z-index: 1;
}

.container{
    width: 90%;
    height: 100%;
    background-color: white;
    margin-left: auto;
}
.ul-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.icon_mini{
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: #0000002b 0px 6px 4px 0px;
}

.icon_mini:hover{
    filter: opacity(0.7);
}

.icon_button{
    width: 2em;
}

.button_menu{
    background:none;
    border: none;
}

button{
    border: none;
    background: none;
}

.displaynone{
    display: none;
}
.container-streaming{
    width: 100%;
    height: 100%;
}
.container-header{
    padding: 0 35px;
    height: auto;
    display: flex;
    box-shadow: #00000021 0px 6px 17px;
    position: relative;
}

.container-content{
    height: auto;
    display: flex;
    padding: 0px 40px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.title_content-div{
    height: 5em;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
}
.original_content-div{
    height: auto;
    display: flex;
    margin-top: 1em;
    gap: 15px;
    width: fit-content;
}
.div_originals{
    width: 100%;
    cursor: pointer;
}
.img_poster-g{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 7px;
}
.group-divs{
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
}
.image-logo{
    width: 102px;
    height: 62px;
    object-fit: contain;
}

#div-main{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
#button_back{
    display: none;
    z-index: 1;
    width: 2em;
    /* filter: invert(1); */
    backdrop-filter: drop-shadow(11px 9px 11px black) blur(8px) invert(0.4);
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1.5em;
    background-color: white;
}
.div-main-content{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: blur(3px) brightness(0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
}
#titlefilm{
    padding: 0px 10%;
    text-shadow: 0px 1px 14px black;
}
#overviewfilm{
    padding: 0px 10%;
    padding-bottom: 10%;
    text-shadow: 0px 1px 14px black;
}
.div-main-content-video{
    width: 100%;
    height: 100%;
}
#videofilm{
    width: 100%;
    height: 100%;
}
iframe{
    width: 100%;
    height: 100%;
}
@media (max-width:659px) {
    .nav{
        display: none;
        width: 110px;
        position: fixed;
        z-index: 1;
        justify-content: flex-end;
    }
    .buttons_menu{
        display: flex;
        height: 64px;
        z-index: 1;
    }
    #button_menu-close{
        display: none;
        z-index: 1;
        /* margin-left: 136px; */
        position: absolute;
        margin-top: -8em;
    }
    .container{
        width: 100%;
    }
    .container-header{
        display: flex;
        justify-content: center;
    }
    .group-divs{
        width: fit-content;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}
