body{
    margin: 0;
}

.body{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}

.buttons_menu{
    position: absolute;
    display: none;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#button_menu-close{
    display: none;
    z-index: 1;
    margin-left: 136px;
}

.nav{
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    box-shadow: #0000002e 1px 0px 20px;
    position: relative;
}

.container{
    width: 90%;
    height: 100%;
    background-color: white;
}
.ul-nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.li-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.icon_mini{
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: #0000002b 0px 6px 4px 0px;
}

.icon_mini:hover{
    filter: opacity(0.7);
}

.icon_button{
    width: 2em;
}

.button_menu{
    background:none;
    border: none;
}





@media (max-width:659px) {
    .nav{
        display: none;
        width: 110px;
    }
    .buttons_menu{
        display: flex;
    }
}
@media (min-width:660px) {
    .nav{
        display: flex;
    }    
}